{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="col-md-8 m-auto">
    <div class="content-section">
        <h1>About page</h1>
        <br>
        <p>
Welcome to our community-centric application, where staying informed means staying empowered. Our platform is dedicated to keeping you in the loop on critical issues that matter most. From urgent alerts about missing children that require the collective efforts of our community to real-time traffic updates ensuring your daily commute is smooth and safe, we've got you covered. We believe in the strength of united neighborhoods, and that's why we also provide a space for essential public announcements, fostering a sense of shared responsibility. Join us in building a safer, more connected community. Together, we can make a real impact, one notification at a time. Your safety is our priority, and your active participation transforms information into action. Download the app now and be an integral part of the solution. Let's create a safer and more caring community together!</p>
    </div>
</div>


{% endblock %}